# DataBase
DB__NAME=ads_app
DB__USER=ads_user
DB__PASSWORD=password
DB__PORT=5432
DB__HOST=postgres

# Token
TOKEN__EXPIRE_HOURS=48

#Redis
REDIS__PASSWORD=password
REDIS__PORT=6379
REDIS__HOST=redis
REDIS__DB=0